body{
    background-image: url("pictures/bmwm4.jpg");
    background-size: cover;
}

#glownyk{
    background-color: rgba(255, 255, 255, 0.8) ;
    height: 220px;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0px;
    margin-top: 16%;
    border-radius: 7px;
    box-shadow: 0px 0px 10em black;
}

.obrazek{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
    background-size: cover;
}

#history{
    background-image: url("pictures/history.png");
}

#kalendarz{
    background-image: url("pictures/schedule.png");
}

#opinia{
    background-image: url("pictures/opinia.png");
}

#visit{
    background-image: url("pictures/visit.png");
}

#pay{
    background-image: url("pictures/pay.png");
}

#kratka{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    float: left;
    background-color: white;
    height: 160px;
    width: 120px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 0px 0.3em black;
}

#kratka:hover{
    background-color: #FFD70B;
    transition-duration: 0.5s;
}